{
    "html_files":"mvno/ocn/tmp/html",
    "writefile_path":"mvno/ocn/tmp/csv/devices_ocn-scraped.csv",
    "targets_xpath":"//div[@class='datacard-table']//tbody/tr",
    "column_xpath":
        [   
            ["maker","normalize-space(./td[1])"],
            ["device_type","normalize-space(./td[2])"],
            ["carrier","normalize-space(./td[3])"],
            ["name","normalize-space(./td[4])"],
            ["sim","normalize-space(./td[5])"],
            ["os","normalize-space(./td[6])"],
            ["call","normalize-space(./td[7])"],
            ["data","normalize-space(./td[8])"],
            ["sms","normalize-space(./td[9])"],
            ["tethering","normalize-space(./td[10])"],
            ["unlock","normalize-space(./td[11])"],
            ["setup","normalize-space(./td[12])"]
        ]
}