{
    "html_files":"mvno/rakuten/tmp/html",
    "writefile_path":"mvno/rakuten/tmp/csv/devices_rakuten-scraped.csv",
    "targets_xpath":"//table[@class='baseTbl']/tbody/tr",
    "column_xpath":
        [   
            ["maker","normalize-space(./td[1])"],
            ["name","normalize-space(./td[2]/text())"],
            ["plan","normalize-space(./td[3])"],
            ["sim","normalize-space(./td[4])"],
            ["LTE","normalize-space(./td[5])"],
            ["tethering_d","normalize-space(./td[6])"],
            ["tethering_a","normalize-space(./td[7])"],
            ["os","normalize-space(./td[8])"],
            ["note","normalize-space(./td[9])"]
        ]
}