{
    "html_files":"mvno/nifmo/tmp/html",
    "writefile_path":"mvno/nifmo/tmp/csv/devices_nifmo-scraped.csv",
    "targets_xpath":"//div[@class='device-col_sim']/div",
    "column_xpath":
        [
            ["maker","normalize-space(.//h4[@class='maker'])"],
            ["name","normalize-space(.//p[@class='strong-01'])"],
            ["release_date","normalize-space(.//p[@class='release_date'])"],
            ["sim1","normalize-space(.//div[@class='simtype'])"],
            ["device_type","normalize-space(.//div[@class='devicetype'])"],
            ["carrier","normalize-space(.//div[@class='device-career'])"],
            ["tethering","normalize-space(.//div[@class='upper']/following::div[@class='col'][5])"],
            ["version","normalize-space(.//div[@class='upper']/following::div[@class='col'][6])"],
            ["note","normalize-space(.//div[@class='lower'])"]
        ]
}
