{
    "html_files":"mvno/biglobe/tmp/html",
    "writefile_path":"mvno/biglobe/tmp/csv/devices_biglobe-scraped.csv",
    "targets_xpath":"//table[contains(@class,'device-table')]//tbody",
    "column_xpath":
        [
            ["device_type","normalize-space(.//td[@data-label='端末種別'])"],
            ["maker","normalize-space(.//td[@class='u-hide-sp'][2])"],
            ["name","normalize-space(.//td[@class='u-hide-sp'][3])"],
            ["os","normalize-space(.//td[@data-label='OS'])"],
            ["plan","normalize-space(.//td[@data-label='対応SIMタイプ'])"],
            ["sim","normalize-space(.//td[@data-label='SIMサイズ'])"],
            ["LTE/3G","normalize-space(.//td[@data-label='データ通信'])"],
            ["func",".//td[@data-label='対応機能']/p/text()"],
            ["tethering","normalize-space(.//td[@data-label='テザリング対応'])"],
            ["note","normalize-space(.//tr[@class='device-table__description'])"]
        ]
}