{
    "html_files":"mvno/biglobe/tmp/html",
    "writefile_path":"mvno/biglobe/tmp/csv/devices_biglobe-scraped.csv",
    "targets_xpath":"//*[@class='device-table']",
    "column_xpath":
        [
            ["device_type","normalize-space(.//tr[1]/td)"],
            ["maker","normalize-space(.//caption/div/div[1])"],
            ["name","normalize-space(.//caption/div/div[1])"],
            ["os","normalize-space(.//tr[1]/td)"],
            ["plan","normalize-space(.//caption/div/div[2])"],
            ["sim","normalize-space(.//tr[2]/td)"],
            ["LTE/3G","normalize-space(.//tr[3]/td)"],
            ["func","normalize-space(.//tr[4]/td)"],
            ["tethering","normalize-space(.//tr[5]/td)"],
            ["note","normalize-space(.//tr[6]/td)"]
        ]
}
