{
    "html_files":"mvno/iij/tmp/html",
    "writefile_path":"mvno/iij/tmp/csv/devices_iij-scraped.csv",
    "targets_xpath":"//*[@id='service_voice_content01']/div/div/div/div/div[2]/div[2]/article[not(@style='display: none;')]",
    "column_xpath":
        [
            ["plan","normalize-space(//*[@id='fixidpoint']/div/label[contains(@class,'-select')])"],
            ["maker","normalize-space(.//div[@class='dv-maker'])"],
            ["name",".//div[@class='dv-name']/text()"],
            ["sim","normalize-space(.//div[@class='dv-size']/text())"],
            ["tethering","normalize-space(.//div[@class='dv-tethe']/span[@class='-sp-center'])"],
            ["call","normalize-space(.//div[@class='dv-voice']/span[@class='-sp-center'])"],
            ["note","normalize-space(.//div[@class='dv-annotation'])"]
        ]
}
