{
    "html_files":"projects/support_devices/mvno/iij/tmp/html",
    "writefile_path":"projects/support_devices/mvno/iij/tmp/csv/devices_iij-scraped.csv",
    "targets_xpath":"//div[starts-with(@class,'devices_table')]//tbody[starts-with(@class,'searchtarget')]",
    "column_xpath":
        [
            ["plan","normalize-space(./ancestor::div[1]/@class)"],
            ["carrier","normalize-space(./preceding::div[1]/h2/text())"],
            ["maker","normalize-space(.//td[@class='manufacturer data']/text())"],
            ["device_type","normalize-space(.//td[@class='classification data'])"],
            ["name",".//td[@class='terminal data']/text()"],
            ["LTE","normalize-space(.//td[@class='lteterminal data'])"],
            ["sim","normalize-space(.//td[@class='simcardtype data'])"],
            ["tethering","normalize-space(.//td[@class='tethering data'])"],
            ["picture","normalize-space(.//td[@class='picture data'])"],
            ["call","normalize-space(.//td[@class='voicecall data'])"],
            ["os","normalize-space(.//td[@class='version data'])"],
            ["note","normalize-space(./tr[@class='detail_pc'])"]
        ]
}