[{
  "starting_urls":[
      "https://www.uqwimax.jp/mobile/products/sim/devices/"
      ],
  "save_dir":"mvno/uq/tmp/html"
},
{
  "operation_type":1,
  "operation_xpath_list":[
    ".//*[@class='uqv2-parts-accordionBlock']",
    "./div[2]"
  ],
  "writing":false
},
{
  "operation_type":1,
  "operation_xpath_list":[
    ".//*[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock']",
    "./div[2]"
  ],
  "writing":false
},
{
  "writing":true
}]
