{
    "html_files":"mvno/uq/tmp/html",
    "writefile_path":"mvno/uq/tmp/csv/devices_uq-scraped.csv",
    "targets_xpath":".//*[@class='uqv2-parts-accordionBlock is-open']",
    "column_xpath":
        [
            ["carrier","normalize-space(./parent::div/preceding-sibling::h3[1])"],
            ["maker","normalize-space(./preceding-sibling::h4[1])"],
            ["name","normalize-space(.//h3/span)"],
            ["device_type","normalize-space(.//*[text()='端末種別']/following-sibling::div[1])"],
            ["sim1","normalize-space(.//*[text()='SIM種別']/following-sibling::div[1]/text())"],
            ["os","normalize-space(.//div[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock is-open'][last()]/div[1])"],
            ["data","normalize-space(.//div[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock is-open'][last()]//*[text()='データ通信']/following-sibling::div[1])"],
            ["call","normalize-space(.//div[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock is-open'][last()]//*[text()='通話']/following-sibling::div[1])"],
            ["sms","normalize-space(.//div[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock is-open'][last()]//*[text()='SMS']/following-sibling::div[1])"],
            ["mail","normalize-space(.//div[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock is-open'][last()]//*[text()='メール ○○○@uqmobile.jp']/following-sibling::div[1])"],
            ["tethering","normalize-space(.//div[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock is-open'][last()]//*[text()='テザリング']/following-sibling::div[1])"],
            ["apn","normalize-space(.//div[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock is-open'][last()]//*[text()='APN手順書']/following-sibling::div[1])"],
            ["unlock","normalize-space(.//div[@class='uqv2-parts-accordionBlock uqjs-accordion page-accordionBlock is-open'][last()]//*[text()='SIMロック解除']/following-sibling::div[1])"]
        ]
}
