{
    "html_files":"projects/support_devices/mvno/uq/tmp/html",
    "writefile_path":"projects/support_devices/mvno/uq/tmp/csv/devices_uq-scraped.csv",
    "targets_xpath":"//div[@class='device-item close']",
    "column_xpath":
        [   
            ["carrier","normalize-space(./preceding::h3[1])"],
            ["maker","normalize-space(./preceding-sibling::div/h4[1])"],
            ["name","normalize-space(./h5)"],
            ["device_type","normalize-space(.//tr[1]/td)"],
            ["sim1","normalize-space(.//tr[2]/td/text()[1])"],
            ["os","normalize-space(.//tr[3]/td)"],
            ["data","normalize-space(.//tr[4]/td)"],
            ["call","normalize-space(.//tr[5]/td)"],
            ["sms","normalize-space(.//tr[6]/td)"],
            ["mail","normalize-space(.//tr[7]/td)"],
            ["tethering","normalize-space(.//tr[8]/td)"],
            ["apn","normalize-space(.//tr[9]/td)"],
            ["unlock","normalize-space(.//tr[10]/td)"]
        ]
}