[{
  "starting_urls":[
    "https://mineo.jp/device/devicelist/?category=1"
  ],
  "save_dir":"mvno/mineo/tmp/html"
},
{
  "child_type":2,
  "child_xpath_list":[
    "//select[@id='search-maker']/option[not(@value='-1')]/@value",
    "//select[@id='search-maker']"
  ]
},
{
  "sibling_type":2,
  "sibling_xpath_list":[
    "//ul[@class='pager']/li[./a[@class='on']]/following-sibling::li[1]",
    "normalize-space(//ul[@class='pager']//a[@class='on'])"
  ],
  "writing":true
}]
