{
    "starting_urls":[
        "https://mineo.jp/device/devicelist/?sim=docomo",
        "https://mineo.jp/device/devicelist/?sim=au",
        "https://mineo.jp/device/devicelist/?sim=softbank"
        ],
    "nextpage_xpath":"",
    "nextbutton_xpath":"//ul[@class='pager']/li[@class='next']",
    "target_xpath":"",
    "ending_url":"",
    "render_js":1,
    "save_dir":"mvno/mineo/tmp/html"
}