{
  "html_files":"mvno/mineo/tmp/html",
  "writefile_path":"mvno/mineo/tmp/csv/devices_mineo-scraped.csv",
  "targets_xpath":"//dl[contains(@class,'brandInfoTpl')]",
  "column_xpath":
    [
      ["maker","normalize-space(//p[@class='searchText']/span)"],
      ["plan","normalize-space(.//span[contains(@class,'planName')])"],
      ["carrier","normalize-space(.//dt[contains(@class,'brandName')]/span)"],
      ["name","normalize-space(.//p[contains(@class,'name')])"],
      ["sim","normalize-space(.//span[@class='simSize'])"],
      ["data","normalize-space(.//td[@class='data']/img/@alt)"],
      ["call","normalize-space(.//td[@class='call']/img/@alt)"],
      ["tethering","normalize-space(.//td[@class='tethering']/img/@alt)"],
      ["sms","normalize-space(.//td[@class='sms']/img/@alt)"],
      ["version","normalize-space(.//span[@class='verTxt'])"],
      ["unlock","normalize-space(.//p[@class='simLock']/span)"]
    ]
}
