{
  "html_files":"mvno/mineo/tmp/html",
  "writefile_path":"mvno/mineo/tmp/csv/devices_mineo-scraped.csv",
  "targets_xpath":"//dl[contains(@class,'brand-info-tpl')]",
  "column_xpath":
    [
      ["maker","normalize-space(//div[@class='select']/p)"],
      ["plan","normalize-space(//p[@class='search-text']/span)"],
      ["carrier","normalize-space(.//h4[@class='brand-name'])"],
      ["name","normalize-space(.//ancestor::dl[contains(@class,'devicelist')]//h3)"]
    ]
}
