{
  "html_files":"mvno/mineo/tmp/html",
  "writefile_path":"mvno/mineo/tmp/csv/devices_mineo-scraped.csv",
  "targets_xpath":"//div[@class='search-success-container' and not(@style='display: none;')]//li[contains(@class,'sim-info-tpl')]",
  "column_xpath":
    [
      ["device_type","normalize-space(./preceding::a[@class='btn-card btn-child-toggle click-search disable on']/span)"],
      ["maker","normalize-space(//div[@class='select']/p)"],
      ["plan","normalize-space(.//span[contains(@class,'icon-carrier')])"],
      ["carrier","normalize-space(.//ancestor::dl[contains(@class,'carrier-box')]//h4)"],
      ["name","normalize-space(.//ancestor::dl[contains(@class,'devicelist')]//h3)"],
      ["data","normalize-space(.//td[@class='data']/img/@alt)"],
      ["call","normalize-space(.//td[@class='voice']/img/@alt)"],
      ["tethering","normalize-space(.//td[@class='tethering']/img/@alt)"],
      ["sms","normalize-space(.//td[@class='sms']/img/@alt)"],
      ["sim","normalize-space(.//*[@class='simsize-text'])"]
    ]
}
