{
    "starting_urls":[
        "http://support.qtmobile.jp/modelSearch/searchDtype.html",
        "http://support.qtmobile.jp/modelSearch/searchAtype.html",
        "http://support.qtmobile.jp/modelSearch/searchStype.html"
        ],
    "nextpage_xpath":"",
    "target_xpath":"",
    "ending_url":"",
    "render_js":1,
    "save_dir":"mvno/qt/tmp/html"
}