{
    "html_files":"mvno/qt/tmp/html",
    "writefile_path":"mvno/qt/tmp/csv/devices_qtmk-scraped.csv",
    "targets_xpath":"//select[@id='maker']/option[contains(@value,'mk')]",
    "column_xpath":
        [   
            ["plan","normalize-space(./ancestor::main//span[@class='type'])"],
            ["key","normalize-space(./@value)"],
            ["maker","normalize-space(.)"]
        ]
}