{
    "html_files":"projects/support_devices/mvno/qt/tmp/html",
    "writefile_path":"projects/support_devices/mvno/qt/tmp/csv/devices_qt-scraped.csv",
    "targets_xpath":"//div[@class='deviceTable']//tbody/tr",
    "column_xpath":
        [   
            ["plan","normalize-space(./ancestor::main//span[@class='type'])"],
            ["device_type","normalize-space(./ancestor::div/@aria-labelledby)"],
            ["type_maker","normalize-space(./@class)"],
            ["maker","normalize-space(./preceding::span[@class='makerName'])"],
            ["name","./td[@class='modelName']//li/text()"],
            ["sim1","normalize-space(./td[@class='simSize']/ul/li[1])"],
            ["sim2","normalize-space(./td[@class='simSize']/ul/li[2])"],
            ["data","normalize-space(./td[@data-label='データ通信']/img/@alt)"],
            ["call","normalize-space(./td[@data-label='音声通話']/img/@alt)"],
            ["tethering","normalize-space(./td[@data-label='テザリング']/img/@alt)"],
            ["osVer","normalize-space(./td[@class='osVer'])"],
            ["note","normalize-space(./td[@class='remarks'])"]
        ]
}