{
    "html_files":"mno/rakuten/tmp/html",
    "writefile_path":"mno/rakuten/tmp/csv/devices_rakuten-scraped.csv",
    "targets_xpath":"//body/div/div[2]/div/div[contains(@class,'c-Accordion')]",
    "column_xpath":
      [
        ["maker","normalize-space(./preceding::h2[1]/text())"],
        ["name","normalize-space(./button[1]/text())"],
        ["data","normalize-space(.//tbody[1]//td[1])"],
        ["call","normalize-space(.//tbody[1]//td[1])"],
        ["tethering","normalize-space(.//tbody[1]//td[1])"],
        ["sns","normalize-space(.//tbody[1]//td[1])"]
      ]
}
