[{
  "starting_urls":[
    "https://mobile.line.me/support/device/"
  ],
  "save_dir":"mvno/linemobile/tmp/html"
},
{
  "child_type":2,
  "child_xpath_list":[
    "//select[@name='supplier']/option[not(@selected)]/@value",
    "//select[@name='supplier']",
    "//input[contains(@class,'SupSearchBtn')]"
  ]
},
{
  "writing":"true",
  "morebutton_xpath":"//p[contains(@class,'FnMoreList')]"
}]
