{
    "starting_urls":[
        "https://mobile.line.me/support/device/search/?supplier=Apple Inc.",
        "https://mobile.line.me/support/device/search/?supplier=ASUSTEK COMPUTER INC.",
        "https://mobile.line.me/support/device/search/?supplier=HTC",
        "https://mobile.line.me/support/device/search/?supplier=Huawei Technologies Co. Ltd.",
        "https://mobile.line.me/support/device/search/?supplier=LG Electronics Inc.",
        "https://mobile.line.me/support/device/search/?supplier=Motorola Mobility",
        "https://mobile.line.me/support/device/search/?supplier=NECモバイルコミュニケーションズ株式会社",
        "https://mobile.line.me/support/device/search/?supplier=VAIO株式会社",
        "https://mobile.line.me/support/device/search/?supplier=ZTE",
        "https://mobile.line.me/support/device/search/?supplier=サムスン電子株式会社",
        "https://mobile.line.me/support/device/search/?supplier=シャープ株式会社",
        "https://mobile.line.me/support/device/search/?supplier=ソニーモバイルコミュニケーションズ株式会社",
        "https://mobile.line.me/support/device/search/?supplier=パナソニック株式会社",
        "https://mobile.line.me/support/device/search/?supplier=プラスワン・マーケティング株式会社",
        "https://mobile.line.me/support/device/search/?supplier=株式会社コヴィア・ネットワークス",
        "https://mobile.line.me/support/device/search/?supplier=京セラ株式会社",
        "https://mobile.line.me/support/device/search/?supplier=富士通株式会社",
        "https://mobile.line.me/support/device/search/?supplier=シャープ株式会社",
        "https://mobile.line.me/support/device/search/?supplier=Alcatel",
        "https://mobile.line.me/support/device/search/?supplier=Acer",
        "https://mobile.line.me/support/device/search/?supplier=Dell",
        "https://mobile.line.me/support/device/search/?supplier=Lenovo",
        "https://mobile.line.me/support/device/search/?supplier=Microsoft",
        "https://mobile.line.me/support/device/search/?supplier=NEC",
        "https://mobile.line.me/support/device/search/?supplier=Nextbit Systems",
        "https://mobile.line.me/support/device/search/?supplier=UPQ",
        "https://mobile.line.me/support/device/search/?supplier=サードウェーブ",
        "https://mobile.line.me/support/device/search/?supplier=株式会社マウスコンピューター",
        "https://mobile.line.me/support/device/search/?supplier=パナソニック システムネットワークス",
        "https://mobile.line.me/support/device/search/?supplier=ブラックベリー・リミテッド",
        "https://mobile.line.me/support/device/search/?supplier=日本通信",
        "https://mobile.line.me/support/device/search/?supplier=NTTレゾナント",
        "https://mobile.line.me/support/device/search/?supplier=日本HP",
        "https://mobile.line.me/support/device/search/?supplier=トリニティ株式会社",
        "https://mobile.line.me/support/device/search/?supplier=株式会社ピーアップ",
        "https://mobile.line.me/support/device/search/?supplier=ONKYO",
        "https://mobile.line.me/support/device/search/?supplier=Wiko",
        "https://mobile.line.me/support/device/search/?supplier=BLU Products",
        "https://mobile.line.me/support/device/search/?supplier=OPPO",
        "https://mobile.line.me/support/device/search/?supplier=株式会社 MAYA SYSTEM",
        "https://mobile.line.me/support/device/search/?supplier=NECプラットフォームズ株式会社",
        "https://mobile.line.me/support/device/search/?supplier=Essential Products Inc."
        ],
    "nextpage_xpath":"",
    "target_xpath":"",
    "ending_url":"",
    "render_js":1,
    "save_dir":"mvno/linemobile/tmp/html",
    "morebutton_xpath":"//p[contains(@class,'FnMoreList')]"
}
