{
    "html_files":"projects/support_devices/mvno/linemobile/tmp/html_mk",
    "writefile_path":"projects/support_devices/mvno/linemobile/tmp/csv/maker-scraped.csv",
    "targets_xpath":"//select[@name='supplier']/option[not(@selected)]",
    "column_xpath":
        [
            ["maker","normalize-space(.)"]
        ]
}