{
    "html_files":"projects/support_devices/mvno/linemobile/tmp/html",
    "writefile_path":"projects/support_devices/mvno/linemobile/tmp/csv/devices_linemobile-scraped.csv",
    "targets_xpath":"//div[@class='LySearchDeviceItem']",
    "column_xpath":
        [
            ["maker","./preceding::h2[1]/text()"],
            ["name","./preceding::h3[1]/text()"],
            ["plan","./h4/text()"],
            ["sim",".//dt[text()='SIMサイズ']/following::dd[1]/text()"],
            ["data",".//span[text()='データ通信']/parent::li[1]/@class"],
            ["call",".//span[text()='音声通話']/parent::li[1]/@class"],
            ["tethering",".//span[text()='テザリング']/parent::li[1]/@class"],
            ["note","normalize-space(.//dt[text()='備考']/following::dd[1])"]
        ]
}