{
    "html_files":"mvno/ymobile/tmp/html",
    "writefile_path":"mvno/ymobile/tmp/csv/devices_ymobile-scraped.csv",
    "targets_xpath":'//*[@id="section"]/div[1]/div/div',
    "column_xpath":
        [
            ["device_type","normalize-space(./preceding-sibling::h3)"],
            ["maker","normalize-space(./parent::div/@class)"],
            ["name","normalize-space(.//tr[./th[text()='機種名']]/td)"],
            ["carrier",".//tr[./th[text()='キャリア']]/td/text()"],
            ["os","normalize-space(.//tr[./th[text()='OS']]/td)"],
            ["sim","normalize-space(.//tr[./th[text()='SIM']]/td)"],
            ["func",".//tr[./th[text()='機能']]/td/text()"],
            ["note","normalize-space(.//tr[./th[text()='備考']]/td)"]
        ]
}
