{
    "html_files":"mvno/ymobile/tmp/html",
    "writefile_path":"mvno/ymobile/tmp/csv/devices_ymobile-maker-scraped.csv",
    "targets_xpath":"//*[@class='formradio-inline-item']",
    "column_xpath":
        [
            ["label","normalize-space(./*/@id)"],
            ["name","normalize-space(.//label)"]
        ]
}
