{
    "html_files":"mvno/dmm/tmp/html",
    "writefile_path":"mvno/dmm/tmp/csv/devices_dmm-scraped.csv",
    "targets_xpath":"//*[@id='fn-wrapper']/div[2]/ul/li",
    "column_xpath":[
      ["name","normalize-space(./div/div[1])"],
      ["maker","normalize-space(./div/div[2]/div[2])"],
      ["os","normalize-space(./div/div[3]/div[2])"],
      ["device_type","normalize-space(./div/div[4]/div[2])"],
      ["sim1","normalize-space(./div/div[5]/div[2])"],
      ["LTE","normalize-space(./div/div[6]/div[2])"],
      ["tethering","normalize-space(./div/div[7]/div[2])"],
      ["pict","normalize-space(./div/div[8]/div[2])"],
      ["call","normalize-space(./div/div[9]/div[2])"],
      ["note","normalize-space(./div/div[10]/div[2])"]
    ]
}
